/*  header points
* Header is flex with 3 containers, .logo, .label, nav
* struggled to fix header height to 64px, vertical padding somehow stuck on.

All thats needed is time to finish presentation, which I dont have
1, structure is complete
2, flex boxes are used
3, font-type is used
4, some pesudo selectors used
5, media queries used
*/

#desktop-container{
  max-width: 1024px;
  margin: 0 auto;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body{
  margin: 0 auto;/*centers*/
  background-color: #fff;
}
/* re-used classes*/
.wrapper{
  width: 100%; height: auto;
  max-margin: 0 auto;/*centers in browser*/
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;/* hoped this would trim off excess width caused by margins and paddings in #second-banner and #thesis-exhibit*/
  /*background-color: green;*/
}
.wrapper:nth-child(even){
  background-color: #d8d8d8;
}
.image-content,
.content-column{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /*overflow: hidden;*/
}
img{
  display: flex;
  width: 100%;  height: 100%;
}
h2{
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-family: ;
  color: ;
}
h3{
  /*padding-bottom: .5re*/m;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: ;
  color: ;
}
/* header */
header{
  width: 100%;  height: 64px;
  position: absolute; left:0; right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  flex-flow: row nowrap;
}
.label{
    vertical-align: middle;
    text-transform: uppercase;
}
  .lightgray-text{
    color: lightgray;
  }
  .dark-text{
    color: #000;
  }
  .logo{/* parent flex of imageand .label*/
    display: flex;
    align-items: center;/*contains 2 items*/
    /*flex-grow: 1; when removed (justify-content: space-between in header) doesn't work*/
    /*background-color: green;*/
  }
  .logo img {
    height: 55px;/* tried to make image proportionally fill header space, but only setting a specific height worked, also couldn't get rid of what looked like vertical padding in header */
    /*align-items: stretch;*/
    margin-left: 24px;
    margin-right: 5px;
  }
header .label{
  display: inline;
  font-size: 2rem;
}
nav{
  /*float:right;/*when flex-grow is removed from header.logo, this doesnt work*/
  display: flex;
  justify-content: flex-end;
}
header nav ul{
  margin-right: 24px;
  vertical-align: middle;
}
header nav ul li{
  display: inline-block;
  padding-left: 12px;
}
header nav .gap{/*vertical gaps in nav li*/
  width: 16px;  height: 100%;
  background-color: #92e0e0;
  position: absolute; top: 0;
  /*z-index: 2;*/
}
/* top banner*/
#top-banner .wrapper{/*parent flex positioning container*/
  justify-content: flex-start;
  background-color: #d8d8d8;
}
#top-banner .image-content{
  width: calc(60% - 48px); height:100%;/* when width: 60%;, ontent-column wraps*/
  margin: 0 24px;
  /*border: 1px solid red;*/
}
#top-banner .content-column{
  width: 40%; /* margins are not factored in when using % */
  /*background-color: blue;*/
  /*flex-flow: column wrap;
  justify-content: center;*/
}
#top-banner .content-column h2{
  font-family: "Pacifico", cursive;
}
/*@font-face {/
  font-family: 'Pacifico', cursive;
  src: url(https://fonts.googleapis.com/css?family=Pacifico);
}*/
/* latin */
@font-face {/* only this code block seems to be needed for font to work*/
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#top-banner .btn{
  padding: 8px auto;
  background-color: #4a4a4a;
  text-align: center;
}
/* 2nd-banner */
#second-banner .wrapper{/*parent flex positioning container*/
  background-color: ;
  /*text-align: center; doesnt work on header*/
}
#second-banner .image-content{
  width: calc(60% - 48px); height:100%;
  margin: 24px;/* put 24px gap between picture and h2*/
  /*flex-flow: row wrap;*/
}
#second-banner h2{
  padding: 24px 0;
}
#second-banner .content-column{
  width: 40%; /* margins are not factored in when using % */
  /*background-color: blue;*/
  /*flex-flow: column wrap;
  justify-content: center;*/
}
#second-banner .content-column .intro{/* parent flex for thumbnail anf content column*/
  width: calc(100% - 16px);
  padding: 16px 0 16px 16px;/*margins and paddings are added to width*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*background-color: yellow;*/
}
#second-banner .thumbnail{
  /*display: inline-flex;*/
  width: 35%;
}
#second-banner .intro .content-column{
  width: calc(65% - 24px); /* margins are not factored in when using % */
  /*background-color: blue;*/
  padding-left: 24px;
}
#second-banner .intro:last-child{
  background-color: #d8d8d8;
}

/* courses */
#courses.wrapper{/* css chaining*/
  width: calc(100% - 144px);/* width: 1024px;- padding, Can you write a calculation for width_ (100% - padding);*/
  padding: 32px 72px 0 72px;
  /*background-color: #f00;*/
  justify-content: space-around;
}
#courses h2{
  text-align: center;
  padding-bottom: 32px;
}
#courses .intro{/* parent flex for thumbnail anf content column*/
  width: calc(30% - 24px);/* 3 course on 1 line */
  margin-bottom: 32px;
  padding: 0 0 24px 0;/*margins and paddings are added to width*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}
#courses .thumbnail{
  /*display: inline-flex;*/
  width: 100%; height: auto;
}
#courses .intro .content-column{
  width: calc(100% - 16px); /* margins are not factored in when using % */
  /*background-color: blue;*/
  padding-left: 16px;
  line-height: 1.4;
}
#courses .title{
  text-transform: uppercase;
}

/*thesis exhibit*/
#thesis-exhibit .wrapper{
  padding: 32px 0;
}
#thesis-exhibit h2{
  text-align: center;
  padding-bottom: 32px;
}
#thesis-exhibit .image-content{
  width: calc(60% - 48px); height:100%;
  margin: 0 24px;
  /*flex-flow: row wrap;*/
}
#thesis-exhibit .image-content h3{
  padding: 24px 0 8px 0;
}
.copyright{
  margin: 48px 0 16px 0;
}
#thesis-exhibit .content-column{
  width: 40%; /* margins are not factored in when using % */
  /*background-color: blue;*/
  /*flex-flow: column wrap;
  justify-content: center;*/
}
#thesis-exhibit .content-column .intro{/* parent flex for thumbnail anf content column*/
  width: calc(100% - 16px);
  padding: 16px 0 16px 16px;/*margins and paddings are added to width*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*background-color: yellow;*/
}
#thesis-exhibit .thumbnail{
  /*display: inline-flex;*/
  width: 35%;
}
#thesis-exhibit .intro .content-column{
  width: calc(100% - 24px); /* margins are not factored in when using % */
  /*background-color: blue;*/
  padding-left: 24px;
}
#thesis-exhibit .intro:first-child{
  background-color: #d8d8d8;
}

/* media query desktop*/
@media only screen and (min-width: 480px) and (max-width: 1500px){
  .mobile{
    display: none;
  }

}
/* media query tablet */
@media only screen and (min-width: 480px) and (max-width: 1024px){
  #top-banner .wrapper{
    flex-flow: column wrap;
  }
  #top-banner .image-content,
  #top-banner .content-column{
    width: calc(100% - 48px);
  }
}
/* media query mobile */
@media only screen and (max-width: 480px){
  #top-banner .wrapper,
  #second-banner .wrapper,
  #second-banner .intro{
    flex-flow: column wrap;
  }
  #second-banner .content-column{/* container for .intro and intro .content-column */
    width: 100%;
    /*background-color: red;*/
  }
  #second-banner .intro .content-column{
    width: calc(100% - 24px);
    padding-right: 24px;
  }
  #top-banner .image-content,
  #top-banner .content-column,
  #second-banner .intro,
  #second-banner .intro .content-column{
    width: calc(100% - 48px);
  }
  #second-banner .thumbnail{
    width: calc(100% - 16px); height: 35%;s
  }
  .desktop,
  #second-banner .image-content{
    display: none;
  }
  header{
    height: 64px;
  }
  /*header ul li img{
    padding-left: 50px;
  }*/
  header .logo .label{
    display: none;
  }

  nav ul li{
    margin: 0 40px;
    /*background-color: red;*/
  }
  /* top-banner*/

  /*#top-banner.image-content,
  #top-banner.content-column{
    width: 420px;
  }*/

}
